In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey
from sklearn.ensemble import RandomForestClassifier

In [2]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/horse_races')
connection = engine.connect()

In [3]:
data_df = pd.read_sql(sql='select * from raceruns',con=connection)

In [4]:
connection.close()

In [5]:
data_df

,race_id,won,race_no,surface,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,...,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,8.00,13.85,21.59,23.86,24.62,83.92,9.7,3.7,118,2
1,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,5.75,14.57,21.99,23.30,23.70,83.56,16.0,4.9,164,57
2,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,4.75,13.69,21.59,23.90,24.22,83.40,3.5,1.5,137,18
3,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,6.25,14.09,21.83,23.70,24.00,83.62,39.0,11.0,80,59
4,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,3.75,14.77,21.75,23.22,23.50,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,0,10,0,1600,2,25.46,24.06,23.73,22.71,...,1.25,26.14,23.98,23.53,22.52,96.17,99.0,NaN,73,40
79443,6348,0,10,0,1600,2,25.46,24.06,23.73,22.71,...,2.25,25.82,24.10,23.77,22.61,96.30,99.0,NaN,164,63
79444,6348,0,10,0,1600,2,25.46,24.06,23.73,22.71,...,3.00,26.58,24.06,23.37,22.43,96.44,99.0,NaN,111,68
79445,6348,0,10,0,1600,2,25.46,24.06,23.73,22.71,...,2.50,26.58,24.02,23.45,22.29,96.34,4.6,NaN,118,95
79446,6348,0,10,0,1600,2,25.46,24.06,23.73,22.71,...,4.25,25.70,24.06,23.77,23.10,96.63,99.0,NaN,27,4

In [6]:
data_df = data_df.dropna()

In [7]:
data_df

,race_id,won,race_no,surface,distance,race_class,sec_time1,sec_time2,sec_time3,sec_time4,...,behind_sec4,time1,time2,time3,time4,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,8.00,13.85,21.59,23.86,24.62,83.92,9.7,3.7,118,2
1,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,5.75,14.57,21.99,23.30,23.70,83.56,16.0,4.9,164,57
2,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,4.75,13.69,21.59,23.90,24.22,83.40,3.5,1.5,137,18
3,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,6.25,14.09,21.83,23.70,24.00,83.62,39.0,11.0,80,59
4,0,0,1,0,1400,5,13.53,21.59,23.94,23.58,...,3.75,14.77,21.75,23.22,23.50,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76706,6128,0,10,0,1400,3,13.34,21.79,24.09,22.32,...,8.25,13.46,22.03,23.97,23.41,82.87,33.0,5.7,118,40
76707,6128,0,10,0,1400,3,13.34,21.79,24.09,22.32,...,5.50,13.70,22.07,23.85,22.80,82.42,99.0,14.0,73,161
76708,6128,0,10,0,1400,3,13.34,21.79,24.09,22.32,...,4.50,13.34,21.91,24.05,22.95,82.25,8.2,2.0,138,10
76709,6128,0,10,0,1400,3,13.34,21.79,24.09,22.32,...,7.00,13.50,21.99,23.89,23.28,82.66,59.0,9.9,7,23
76710,6128,0,10,0,1400,3,13.34,21.79,24.09,22.32,...,7.50,13.50,22.07,24.21,22.96,82.74,99.0,26.0,47,162

In [9]:
from sklearn.model_selection import train_test_split

X = data_df.drop(columns=["won"])

y = data_df["won"]


#X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify = y)

In [ ]:
X

In [10]:
# Create a random forest classifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X, y)
rf.score(X, y)

1.0

In [11]:
importances = rf.feature_importances_
importances

array([3.12618290e-04, 2.34898437e-04, 4.96085655e-05, 5.50389305e-03,
       1.75465672e-04, 9.85047117e-04, 4.01676618e-04, 5.04714785e-04,
       1.83727698e-03, 8.60867612e-04, 5.56680945e-04, 6.81821759e-04,
       1.05005378e-03, 5.12924503e-04, 1.77191410e-04, 2.25776579e-04,
       1.12409020e-02, 9.38708431e-04, 4.84010999e-04, 5.55235346e-04,
       9.36711184e-03, 4.66630555e-04, 4.60393934e-04, 3.58373805e-01,
       3.57758539e-01, 1.16803509e-04, 4.03151959e-04, 4.94311100e-04,
       3.55257753e-04, 3.14381046e-04, 6.73169335e-04, 1.69533218e-03,
       3.26411300e-03, 1.69783277e-01, 5.99970397e-04, 1.23429362e-03,
       1.84868964e-03, 2.14512298e-02, 9.31677107e-04, 4.45292267e-04,
       7.45261539e-04, 6.39570979e-03, 9.98383331e-03, 1.37865216e-02,
       1.09033521e-02, 3.19295581e-04, 5.39222556e-04])

In [12]:
sorted(zip(rf.feature_importances_, X.columns), reverse=True)

[(0.3583738053824651, 'result'),
 (0.357758538958786, 'lengths_behind'),
 (0.16978327728228634, 'position_sec4'),
 (0.021451229849922735, 'behind_sec4'),
 (0.013786521554135123, 'win_odds'),
 (0.011240901996511232, 'place_dividend1'),
 (0.01090335207216917, 'place_odds'),
 (0.009983833308521744, 'finish_time'),
 (0.009367111842654988, 'win_dividend1'),
 (0.006395709793243765, 'time4'),
 (0.005503893048343951, 'distance'),
 (0.003264113001337625, 'position_sec3'),
 (0.0018486896449417226, 'behind_sec3'),
 (0.001837276983311216, 'sec_time4'),
 (0.0016953321795307509, 'position_sec2'),
 (0.0012342936184337508, 'behind_sec2'),
 (0.001050053775773254, 'ldr_time4'),
 (0.0009850471171417997, 'sec_time1'),
 (0.0009387084313843661, 'place_dividend2'),
 (0.0009316771065525981, 'time1'),
 (0.0008608676123798202, 'ldr_time1'),
 (0.0007452615387735161, 'time3'),
 (0.0006818217589791713, 'ldr_time3'),
 (0.0006731693354803985, 'position_sec1'),
 (0.00059997039661199, 'behind_sec1'),
 (0.0005566809454888888, 'ldr_time2'),
 (0.00055523534635387, 'win_combination1'),
 (0.000539222555713321, 'jockey_id'),
 (0.0005129245031186156, 'place_combination1'),
 (0.0005047147854344563, 'sec_time3'),
 (0.0004943110998159218, 'declared_weight'),
 (0.00048401099913071566, 'place_dividend3'),
 (0.0004666305552767657, 'horse_no'),
 (0.00046039393424500094, 'horse_id'),
 (0.0004452922667974744, 'time2'),
 (0.0004031519594666943, 'horse_rating'),
 (0.0004016766179897508, 'sec_time2'),
 (0.00035525775314848107, 'actual_weight'),
 (0.00031929558067997604, 'trainer_id'),
 (0.0003143810461450418, 'draw'),
 (0.0003126182895036519, 'race_id'),
 (0.0002348984366470965, 'race_no'),
 (0.00022577657873510198, 'place_combination3'),
 (0.00017719141020922135, 'place_combination2'),
 (0.00017546567152074542, 'race_class'),
 (0.00011680350939150779, 'horse_age'),
 (4.960856551525616e-05, 'surface')]